@font-face {
    font-family: 'Steamy';
    src: url('Steamy.woff2') format('woff2'),
        url('Steamy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

